<div class="row justify-content-center pt-5">
    <div class="col-sm-6 bg-secondary p-3 rounded shadow">
        <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
            <div class="form-group">
                <label for="userName" class="text-white">Username</label>
                <input type="text" class="form-control" id="userName" name="username" required minlength="3"
                    #username="ngModel" ngModel>
                <div *ngIf="!username.valid && username.touched">
                    <p class="text-white">Enter valid Username</p>
                </div>
            </div>
            <div class="forms-group mt-2">
                <label for="password" class="text-white">Password</label>
                <input type="password" id="password" name="password" class="form-control" required #password="ngModel"
                    pattern="^(?=[^A-Z\n]*[A-Z])(?=[^a-z\n]*[a-z])(?=[^0-9\n]*[0-9])(?=[^#?!@$%^&*\n-]*[#?!@$%^&*-]).{8,}$"
                    ngModel>
                <div *ngIf="!password.valid && password.touched">
                    <p class="text-white">Please enter Password!</p>
                    <p class="text-white">"abcA1#!A"<br>"#!asdfSFD1;"</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-sm-4 mt-3" [disabled]="!myForm.valid">Submit</button>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-5" *ngIf="submit">
            <p>UserName: {{ username.value }}</p>
            <p>Password: {{ password.value }}</p>
        </div>
    </div>
</div>