// input.ng-touched.ng-invalid {
//   border: 2px solid red;
//   box-shadow: 0 0 10px rgb(255, 0, 0);
// }
// select.ng-touched.ng-invalid {
//   border: 2px solid red;
//   box-shadow: 0 0 10px rgb(255, 0, 0);
// }
// input.ng-valid {
//   border: 2px solid rgb(21, 255, 0);
//   box-shadow: 0 0 10px rgb(21, 255, 0);
// }
// select.ng-valid {
//   border: 2px solid rgb(21, 255, 0);
//   box-shadow: 0 0 10px rgb(21, 255, 0);
// }
.valid {
  border: 2px solid rgb(21, 255, 0);
  box-shadow: 0 0 10px rgb(21, 255, 0);
}
.invalid {
  border: 2px solid red;
  box-shadow: 0 0 10px rgb(255, 0, 0);
}
hr{
  height: 5px;
  margin-top: 20px;
  background-color: black;
}
// .btn-dropdown{
//   display: block;
//   width: 100%;
//   padding: 0.375rem 0.70rem;
//   font-size: 1.1rem;
//   font-weight: 400;
//   line-height: 1.8;
//   color: #212529;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid #ced4da;
//   border-radius: 0.25rem;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// }