.valid {
  border: 2px solid rgb(21, 255, 0);
  box-shadow: 0 0 10px rgb(21, 255, 0);
}
.invalid {
  border: 2px solid red;
  box-shadow: 0 0 10px rgb(255, 0, 0);
}
hr {
  height: 5px;
  margin-top: 20px;
  background-color: black;
}
