<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-light bg-dark">
                <form class="form-inline p-1">
                    <button class="btn btn-warning btn-sm ms-4" routerLink="/template-form" type="button">Template
                        Driven</button>
                    <button class="btn btn-warning btn-sm ms-4" routerLink="/reactive-form" type="button">Reactive
                        Forms</button>
                </form>
            </nav>
        </div>
    </div>
</div>
<router-outlet></router-outlet>