<!-- <h5>Full :-{{ currentTime }}</h5>
<p>Date :-{{ currentTime | date : 'dd/MM/yyyy' }}</p>
<p>IST:-{{ currentTime | date : 'short':'IST' }}</p>
<p>PST:-{{ currentTime | date : 'short':'PST' }}</p>
<p>UTC:-{{ currentTime | date : 'short':'UTC' }}</p>
<h5>Currency Pipe</h5>
<p>Rupee Symbol :-{{ 1000 | currency:'INR':'symbol' }}</p>
<p>Rupee Code :-{{ 1000 | currency:'INR': 'code' }}</p>
<p>Rupee Narrow:- {{ 1000 | currency:'INR':'symbol-narrow' }}</p>
<p>Dollar symbol:- {{ 100 | currency:'USD':'symbol' }}</p>
<p>Dollar Code:- {{ 100 | currency:'USD':'code' }}</p>
<p>Dollar Narrow:- {{ 100 | currency:'USD':'symbol-narrow' }}</p>
<h5>Upper case and lower case</h5>
<p>Original :-{{ details }} </p>
<p>Upper Case :-{{ details | uppercase }}</p>
<p>Lower Case :-{{ details | lowercase }}</p>
<h5>Slice pipe</h5>
<p>Slice Case :-{{ details | slice:0:50 }}</p>
<p>Percent Pipe</p>
<p>Percent Pipe :-{{ 0.123456 | percent }}</p>
<p>Percent Pipe :-{{ 0.123456 | percent: '2.1-2' }}</p>
<p>Percent Pipe :-{{ 0.123456 | percent: '2.1-2' }}</p>
<p>Percent Pipe :-{{ 42 | percent: '10.4-4' }}</p>
<h5>JSON pipe</h5>
<pre>Json pipe :-{{object | json }}</pre>
<h5>Custom pipe</h5>
<p>{{ details | customPipe : 2 :12 }}</p>
<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="searchName" id="search" placeholder="Search by product" />
    </div>
  </div>
  <div class="col-sm-8">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <td>S.no</td>
          <td>Product</td>
          <td>Price</td>
          <td>Available</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productArr | filter: searchName">
          <td>{{ product.sno }}</td>
          <td>{{ product.product }}</td>
          <td>{{ product.price }}</td>
          <td>
            <h5><span class="badge text-black">{{ product.available }}</span></h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<!-- {userId: 1, id: 1, title: 'delectus aut autem', completed: false} -->

<div class="row justify-content-center">
  <div class="col-sm-8">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <td>UserId</td>
          <td>ID</td>
          <td>Title</td>
          <td>Completed</td>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of userData">
        <td>{{ user.userId }}</td>
        <td>{{ user.no }}</td>
        <td>{{ user.title }}</td>
        <td>{{ user.completed }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>