<p>Full :-{{ currentTime }}</p>
<p>Date :-{{ currentTime | date : 'dd/MM/yyyy' }}</p>
<p>IST:-{{ currentTime | date : 'short':'IST' }}</p>
<p>PST:-{{ currentTime | date : 'short':'PST' }}</p>
<p>UTC:-{{ currentTime | date : 'short':'UTC' }}</p>
<p>Currency Pipe</p>
<p>Rupee Symbol :-{{ 1000 | currency:'INR':'symbol' }}</p>
<p>Rupee Code :-{{ 1000 | currency:'INR': 'code' }}</p>
<p>Rupee Narrow:- {{ 1000 | currency:'INR':'symbol-narrow' }}</p>
<p>Dollar symbol:- {{ 100 | currency:'USD':'symbol' }}</p>
<p>Dollar Code:- {{ 100 | currency:'USD':'code' }}</p>
<p>Dollar Narrow:- {{ 100 | currency:'USD':'symbol-narrow' }}</p>
<p>Upper case and lower case</p>
<p>Original :-{{ details }} </p>
<p>Upper Case :-{{ details | uppercase }}</p>
<p>Lower Case :-{{ details | lowercase }}</p>
<p>Slice pipe</p>
<p>Slice Case :-{{ details | slice:0:50 }}</p>
<p>Percent Pipe</p>
<p>Percent Pipe :-{{ 0.123456 | percent }}</p>
<p>Percent Pipe :-{{ 0.123456 | percent: '2.1-2' }}</p>
<p>Percent Pipe :-{{ 0.123456 | percent: '2.1-2' }}</p>
<p>Percent Pipe :-{{ 42 | percent: '10.4-4' }}</p>
<router-outlet></router-outlet>